<div class="col-md-12" style="margin-top: 25px;">
  <div class="panel panel-primary">
    <div class="panel-heading">{{appTitle}}
      <span class="pull-right" style="margin-left: 20px;">
          Done: <span class="badge">{{completed()}}</span>
      </span>
      <span class="pull-right">Total: <span class="badge">{{todos.length}}</span></span>
    </div>
    <div class="panel-body" style="max-height:400px;overflow:auto;">
      <div class="ct mb10" *ngIf="todos.length">
        <button class="btn btn-xs btn-danger" (click)="deleteAll()" >Delete All</button>
        <button class="btn btn-xs btn-success ml10" (click)="markAll()" >{{completed() < todos.length ? 'Mark all as done' : 'Mark all as not done'}}</button>
      </div>
      <todo-list [data]="todos" (handler)="saveTodo($event)"></todo-list>
    </div>
    <div className="panel-footer" style="text-align:center;margin-bottom:15px;">
      <todo-form (submitHandler)="saveTodo($event)"></todo-form>
    </div>
  </div>
</div>

<!-- <div class="col-md-6" style="margin-top: 25px;">
  <div class="panel panel-primary">
    <div class="panel-heading">TodoList from JSON placeholder API
    </div>
    <div class="panel-body" style="max-height:400px;overflow:auto;">
      <div class="well" *ngIf="!todoList.length">Loading todo...</div>
      <ul class="list-group" *ngIf="todoList.length">
        <li class="list-group-item" *ngFor="let todo of todoList; let index=index">
          {{todo.title}}
          <span class="pull-right"><input type="checkbox" [checked]="todo.completed" /></span>
        </li>
      </ul>
    </div>
    <div className="panel-footer" style="text-align:center;margin-bottom:15px;">
      <todo-form (submitHandler)="saveTodo($event)"></todo-form>
    </div>
  </div>
</div> -->

<app-dialog [show]="showDialog" [options]="dialogOptions"></app-dialog>